table {
    border-collapse: separate  ;
    width: 101%;
    text-align: center;
            }
            .HQ{
                text-align: center;
            }
            .relatorio{
               
                color:rgb(225, 37, 12);
                background-color:rgb(198, 230, 70);
                text-align: center;
                font-size: 35px;
               
            }
            .Z{
                background-color: rgb(52, 223, 83);
                text-align: right;
               
            }
            .XX{
                background-color: rgb(230, 230, 54);
                            }
        td , tr{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 5px;
        border: 3px solid rgb(220, 21, 21);
        text-align: justify;
    
        }
.aa{
    border:10cap ;
    background-color: rgb(207, 207, 236);
}